body{
    font-family: monospace;
    background-image: url("../img/ascii/letter.svg");
    background-position:fixed;
    text-align:center;
    font-size:small;
    margin:0;
    padding:0;
}

.center{
    float:none;
    margin-left: auto;
    margin-right:auto;
}

.lex-logo{
    margin:10px auto;
    height: 200px;
    align:center;
}

.menu{
    text-align:center;
}

button{
    background-color:none;
    background-image:url("../img/another/button.svg");
    color:white;
    width:200px;
    margin:10px;
}

.home{
    max-height:20px;
    max-width:50px;
    font-size:small;
    margin:0;
    padding:0;
}

.status{
    background-color:transparent;
    max-width: 500px;
    align:center;
}

.game-object{
    max-width: 500px;
}

.word{
    font-size:large;
}

.input-word{
    max-width: 300px;
}

.resume, .history{
    font-size:small;
    margin:0;
}


